  <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>학력</h3>
                <ul>
                    <li>남부초등학교(서울) 졸업</li>
                    <li>성보중학교(서울) 졸업</li>
                    <li>선린인터넷고등학교(서울) 재학</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3>경력</h3>
							<ul>
								<li>제20대 국회의원</li>
								<li>제33·34대 서울특별시장</li>
								<li>제20대 대한민국 대통령</li>
								<li>제8대 UN 사무총장</li>
								<li>제8대 CIA 국장</li>
								<li>제52대 연방하원의장</li>
								<li>제45대 미합중국 대통령</li>
								<li>현 일루미나티 의장</li>
							</ul>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/iamjungmin/iamjungmin.github.io.git" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>
        </div>
    </div>
</section>
